<div class="author">
    <h1 class="author__heading"></h1>
    <p class="author__body"></p>
</div>
<div class="hero-container">

<img src="/img/slide.png" alt="person looking out through window" class="hero-image" >
</div>

<section class="articles">
    <h2 class="articles__heading">Novidades</h2>

    <ul class="article-ul">
        <% data.forEach(post => { %>
        <li class="gallery">
            <a href="/post/<%= post._id %>">
                <span class="image-container">
                    <img src="/uploads/<%- post.image %>"  alt="<%- post.image %>" loading="lazy">
                </span>
                <div class="detalhes">
                    <span class="title"><%= post.title %></span>
                    <span><%= post.body %></span>
                    <span><%= post.estrelas %></span>
                    <span>De: <%= post.de %></span>
                    <span>Desconto: <%= post.desconto %></span>
                    <span>Por: <%= post.por %></span>
                    <span>Parcelas: <%= post.vezes_cartao %></span>
                    <span>Tamanhos: <%= post.tamanhos %></span>
                    <span>Estoque: <%= post.estoque %></span>
                    <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
                </div>
            </a>
        </li>
        <% }) %>
    </ul>

    
    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View older Posts</a> 
    <% } %>
    

</section>
