<div class="author">
    <h1 class="author__heading">Bem vinda a Loja Encanto de Moça</h1>
    <p class="author__body">Para você encantar</p>
</div>
<div class="hero-container">

<img src="/img/hero-image.webp" alt="person looking out through window" class="hero-image" >
</div>

<section class="articles">
    <h2 class="articles__heading">Novidades</h2>

    <ul class="article-ul">
        <% data.forEach(post => { %>
        <li class="gallery">
            <a href="/post/<%= post._id %>">
                <span><%= post.title %></span>
                <span><%= post.body %></span>
                <span><%= post.valor %></span>
                <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
            </a>
        </li>
        <% }) %>
    </ul>

    
    <% if (nextPage !== null) { %>
        <a href="/?page=<%= nextPage %>" class="pagination">&lt; View older Posts</a> 
    <% } %>
    

</section>
