<div class="author">
    <h1 class="author__heading">Resultados da Pesquisa</h1>
</div>

<section class="articles">

    <ul class="article-ul">
        <% data.forEach(post => { %>
        <li>
            <a href="/post/<%= post._id %>">
                <span><%= post.title %></span>

                <span class="image-container">
                    <img src="/uploads/<%- post.image %>"  alt="<%- post.image %>" loading="lazy">
                </span>
                
                <span class="article-list__date"><%= post.createdAt.toDateString() %></span>
            </a>
        </li>
        <% }) %>
    </ul>

</section>